<nav class="hidden">
  <img class="close" src="http://downloadicons.net/sites/default/files/multiply-icon-27981.png" alt="close">
  <ul>
    <li class="logo"><img src="https://lever-client-logos.s3.amazonaws.com/57579d5d-e8ec-4bf8-aae5-d860fe2e7b54-1475176539337.png"></li>
    <li>{{#link-to 'index'}}Home{{/link-to}}</li>
    <li>{{#link-to 'admin'}}Admin{{/link-to}}</li>
  </ul>
</nav>
<nav class="fixed">
  <ul>
    <img class="hamburger"
       src="https://s3-eu-west-1.amazonaws.com/weld-tutorials/getting-started/icon-hamburger-light.svg">
    <li class="logo"><img src="https://lever-client-logos.s3.amazonaws.com/57579d5d-e8ec-4bf8-aae5-d860fe2e7b54-1475176539337.png"></li>
  </ul>
</nav>
