<nav>
  <ul>
    <li class="logo"><img src="https://lever-client-logos.s3.amazonaws.com/57579d5d-e8ec-4bf8-aae5-d860fe2e7b54-1475176539337.png"></li>
    <li>{{#link-to 'index'}}Home{{/link-to}}</li>
    <li>{{#link-to 'admin'}}Admin{{/link-to}}</li>
    <!-- <li>{{#link-to 'articles'}}Articles{{/link-to}}
      <ul> -->
        <!-- <li>{{#link-to 'articles/news'}}News{{/link-to}}</li>
        <li>{{#link-to 'articles/beauty'}}Beauty{{/link-to}}</li>
        <li>{{#link-to 'articles/entertainment'}}Entertainment{{/link-to}}</li> -->
      <!-- </ul>
    <!</li>  -->
  </ul>
</nav>

<div class="container">
  {{outlet}}
</div>
