<nav>
  <ul>
    <li>{{#link-to 'index'}}Home{{/link-to}}</li>
    <li>{{#link-to 'admin'}}Admin{{/link-to}}</li>
    <!-- <li>{{#link-to 'articles'}}Articles{{/link-to}}
      <ul> -->
        <!-- <li>{{#link-to 'articles/news'}}News{{/link-to}}</li>
        <li>{{#link-to 'articles/beauty'}}Beauty{{/link-to}}</li>
        <li>{{#link-to 'articles/entertainment'}}Entertainment{{/link-to}}</li> -->
      <!-- </ul>
    <!</li>  -->
  </ul>
</nav>

{{outlet}}
